<%= render 'books/list', books: @books %>
<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image %></p>
  <a class ="link" href="<%= book_path(book.id) %>"><%= book.title %></a>
  <p>Opnion：<%= book.body %></p>

</div>
<% end %>