<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
  
</div>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>title：<%= post_image.shop_name %></p>
  <p>body：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
</div>
<% end %>