<% if flash[:notice1] %>
     <p id="notice">
       <%= flash[:notice1] %>
     </p>
<% end %>

<% if @book.errors.any? %>
  <div class="error-box">
    <% if @book.errors.count==2 %>

      <h2 class = "errors">
        2 errors prohibited this book from being saved:
      </h2>
    <% end %>

    <% if @book.errors.count==1 %>
      <h2 class = "error">
      1 error prohibited this book from being saved:
      </h2>
    <% end %>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
<div class="row">
<%= render 'list', user: @user, book: @book %>

<div class='col-md-8 offset-md-1'>
  <br>
 <h1>Books</h1>

  <table class="table table-striped">
　  <thead>
　    <tr>
　       <th> </th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
　  </thead>

　  <tbody>

      <% @books.each do |book| %>
        <tr>
          <td><a class ="link" href="<%= user_path(book.user.id) %>"><%= image_tag book.user.get_profile_image %></a></td>
          <td><a class ="link" href="<%= book_path(book.id) %>"><%= book.title%></a></td>
          <td><%= book.body%></td>

          </tr>
      <% end %>

    </tbody>

  </table>
  </div>
  </div>
  </div>
