<% if flash[:notice1] %>
     <p id="notice">
       <%= flash[:notice1] %>
     </p>
<% end %>

 <h1>Books</h1>

  <table>
　  <thead>
　    <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
　  </thead>

　  <tbody>

      <% @books.each do |book| %>
        <tr>
          <td><p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image %></p></td>
          <td><a class ="link" href="<%= book_path(book.id) %>"><%= book.title%></a></td>
          <td><%= book.body%></td>

          </tr>
      <% end %>

    </tbody>

  </table>

<%= render 'list', books: @books %>